# Tools for Data Science - Peer-graded Assignment

This jupyter notebook is used for completing exercises of the peer-graded assignment. Thank you so much for your feedbacks!

**Objectives:**
- List data science languages.
- List data science libraries.
- Create a table of Data Science tools.
- Introduce arithmetic expression examples, such as multiply, add and divide (convert minutes to hours).

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. ggplot

| Data Science Tools |
| - |
| MySQL |
| PostgreSQL |
| MongoDB |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
18 * 23 + 95

509

In [2]:
# This will convert 95 minutes to hours by diving by 60
hrs = 95 / 60
print('95 minutes equals', hrs, 'hours.')

95 minutes equals 1.5833333333333333 hours.

## Author
Bella